.example-full-width {
    width: 100%;
  }

  img{
    max-width: 100%;
    height: auto;
    // height: 100%;
    object-fit: cover;
    margin-bottom: 30px;
    border-radius: 5px;
  }

  h5{
    color: #fff;
  }